<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-size: 28px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0074B7;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(233, 227, 227);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #60A3D9;
}

.active {
  background-color: #003B73;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="/customer/home">Home</a></li>
  <li><a href="/customer/profile">Profile</a></li>
  <li><a href="/customer/book">Booking</a></li>
  <li><a href="/customer/history">History</a></li>
  <li><a href="/api/logout">Logout</a></li>
</ul>

</body>
</html>


