<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />

		<title>Plumber coming straight to your door</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../public/style.css" />
		<div>
			<li>
				<ul>
					View Applicants
				</ul>
				<ul>
					Reservation
				</ul>
				<ul>
					<a href="/admin/addstaff">Staff</a>
				</ul>
				<ul>
					Admin
				</ul>
				<ul>
					<a href="/admin/profile">Profile</a>
				</ul>
				<ul>
					<a href="/api/logout">Logout</a>
				</ul>
			</li>
		</div>
	</head>
</html>
