<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />

		<title>Plumber coming straight to your door</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../public/style.css" />
		<div class="topnav">
			<div class="title">
				<a href="/"><p>Plumberize</p></a>
			</div>
			<div>
				<span>
					<p>Interested to be a plumber</p>
				</span>
			</div>
			<div>
				<a href="/plumber/register"><button>Sign up</button></a>
			</div>
		</div>
	</head>
	<style>
		.topnav {
			border: 10px;
            border-style: double;
		}
	</style>
</html>
