<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />

		<title>Plumber coming straight to your door</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../public/style.css" />
		<div>
			<ul>
				<li><a class="active" href="/customer/home">Home</a></li>
				<li><a href="/customer/profile">Profile</a></li>
				<li><a href="/customer/book">Booking</a></li>
				<li><a href="/customer/history">History</a></li>
				<li><a href="/api/logout">Logout</a></li>
			  </ul>
		</div>

		<!-- leaflet css  -->
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.4/dist/L.Control.Locate.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"
		/>

		<!-- leaflet js  -->
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js"
			charset="utf-8"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.js"
			charset="utf-8"
		></script>
		<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

		<style>
			#map {
				align-content: center;
				position: absolute;
				width: 89%;
				padding: 80px;
				padding-top: 300px;
				padding-bottom: 300px;
				border: 10px;
				border-color: black;
				
			}
			body {
				font-size: 28px;
				background-color: #1C2951;
			}

			ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #0074B7;
			position: -webkit-sticky; /* Safari */
			position: sticky;
			top: 0;
			}

			li {
			float: left;
			}

			li a {
			display: block;
			color: rgb(233, 227, 227);
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			}

			li a:hover {
			background-color: #60A3D9;
			}

			.active {
			background-color: #003B73;
			}
		</style>
	</head>
</html>
